.ant-table-thead .ant-table-cell {
  background-color: #CAE1FF !important;
  color: #1577FF !important;
}

th.ant-table-cell::before{
  visibility: hidden;
}

.ant-table-tbody{
  border-bottom: 1px solid #ACACAC;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
  border-start-start-radius: 0 !important;
}

.ant-table  
{ 
  font-family: 'Montserrat' !important; 
}